



.secondary-page-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-top: 40px;
}
.secondary-page-banner {
  
}
.secondary-page-banner h1 {
  color: white;
  font-size: 40px;
}
.lower-h1 {
  font-size: 24px;
  border-bottom: 4px solid red;
}

.secondary-page-info-body {
  margin: 10px 0px 25px 0px;
}
.secondary-page-info-body {
  font-size: 20px;
}

.secondary-page-info-body iframe {
    width: 100%;
    height: 325px;
    margin: 0px auto 25px auto;
}
.secondary-page-info-header h3 {
  font-size: 24px;
  text-align: left;
}
.secondary-page-info-list {
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0;
}
.list-width {
  width: 65%;
}
.list-slideshow {
  display: flex;
  gap: 20px;
}
.secondary-page-info-list i {
  color: red;
}
.secondary-pg-call-btn {
  background: #005A9C;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}
.secondary-pg-call-btn a {
  color: white;
  width: 100%;
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;
}


@media screen and (min-width: 800px) {
  .secondary-page {
    background-color: #F6F7F8;
  }
  .secondary-page-banner {
    margin-top: 200px;
    padding: 300px 0;
    background-position: center;
    background-size: cover;
  }
  .secondary-page-intro p {
    text-align: justify;
    font-size: 24px;
    color: black;
    line-height: 1.6;
    padding: 40px 120px;
  }
  .secondary-page-container {
    display: flex;
    min-height: 300px;
    max-height: 750px;
    padding: 10px 40px;
    margin-bottom: 30px;
    gap: 30px;
    justify-content: center;
  }

  /* Find a way to set font-size and line height in one class. See how repetitive it is here */
  .secondary-page-info-body {
    font-size: 24px;
    line-height: 1.6;
  }
  .secondary-page-info {
    width: 40%;
    font-size: 24px;
    line-height: 1.6;
  }
  /* */
  .secondary-page-info-list {
    padding-bottom: 40px;
    font-size: 24px;
    list-style: none;
    line-height: 2.0;
  }
  .secondary-page-info-list i {
    text-align: justify;
    margin-right: 10px;
    color: #C62E2E;
  }
  .secondary-page-info-header h3 {
    font-size: 40px;
    
  }
  .secondary-page-text {
    text-align: justify;
    padding-right: 40px;
  }
  .full-width {
    width: 80%;
  }
  .secondary-page-img {
    width: 40%;
  }
  .secondary-page-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .div-line {
    width: 78%;
    display: flex;
    text-align: center;
    justify-content: center;
    border-top: 2px solid grey;
    margin: 20px auto;
  }

  /* this is the stying for the slideshow on the preventative maintenance page */
  .slideshow-container {
    margin-top: 20px;
    position: relative;
    width: 40%;
    height: 500px; /* Adjust size as needed */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition:  transform 1s ease-in-out;
    transform: translateX(100%);
    display: none;
  }
  /* Make images responsive */
  /* img {
    width: 100%;
    height: 100%;
  } */

  /* Show the first slide */
  .active {
    display: block;
    transform: translateX(0);  /* No movement for the first slide */
    z-index: 10;
  }

  /* Slide to the left (current slide out) */
  .slide-out {
    transform: translateX(-100%); /* Move the current slide to the left */
    display: block;
  }

  /* New slide comes from the right */
  .slide-in {
    transform: translateX(-100%); /* Move the new slide from the right */
  }
} 

